// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//ProviderSearch Colors
$trueblue: #3468C1;
$royalblue: #0A2A60;
$flikrblue: #2867D3;
$cornflowerblue: #508FFC;
$brightnavyblue: #4077D6;
$paleturquoise: #B7DDF5;
$skyblue: #A2C7ED;
$lightsteelpink: #EDEBF5;
$lightsteelblue: #CBD3ED;
$mediumpurple: #7F9ED5;
$darkgrey: #1B242F;
